.header {
    height: 60px;
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
}
.container {
    /* background-color: pink; */
    max-width: 1000px;
    margin: auto;
    display: flex;
    height: 60px;   
}

a {
    text-decoration: none;
}

.logo {
    /* background-color: purple; */
    flex: 1;
    display: flex;
    align-items: center;
    height: 60px;
}

.logo-1,.logo-2,.logo-3 {
    font-size: 27px;
    font-weight: bold;
}

.logo-1 {
    color: #FF0000;
}
.logo-2 {
    color: #00FF00;
}

.logo-3 {
    color: #0000FF;
}

nav {
    padding-top: 10px;
    padding-top: 10px;
    flex-direction: row;
}

ul,li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul {
    display: flex;
    align-items: center;
    height: 40px;
}

li {  
    margin-left: 20px;
    margin-right: 20px;
}

.textoLi {
    color: #000;
    font-size: 14px;
    text-decoration: none;
}

.textoLi:hover {
    color: #999;
}

.button {
    background-color: #FF8100;
    border-radius: 4px;
    color: #FFF;
    padding: 5px 10px;
}

.button:hover {
    background-color: #E57706;
}